.login{
    height:100vh;
    background-image: linear-gradient(#0000007e,#0000007e),url(/background_banner.jpg);
    padding: 20px 8%;
}

.login-logo{
    width: 150px;
  
}


.login-form{
    width:100%;
    max-width: 450px;
    background: rgba(0,0,0,0.75);
    border-radius: 4px;
    padding: 60px;
    margin: auto;

}

.login-form h1{
    color: white;
    margin-bottom: 20px;
    font-size: 32px;
    font-weight: 600;
}

.login-form input{
    width: 100%;
    padding: 15px 20px;
    height: 50px;
    margin-bottom: 20px;
    background: #333;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    outline: none;
   font-weight: 500;
}


.login-form input::placeholder{
    color: grey;
    font-weight: 500;
    font-size: 16px;
}

.login-form .login-btn{
    width: 100%;
    padding: 15px 20px;
    height: 50px;
    background: #e50914;
    border: none;
    border-radius: 4px;
    font-size: 18px;
    font-weight: 600;
    color: white;
    cursor: pointer;
    margin-top: 10px;
}

.form-help{
    display: flex;
    align-items: center;
    justify-content: space-between;
     color: #b3b3b3;
        font-size: 14px;
}

.remember{
    display: flex;
    align-items: center;
    gap: 8px; 
}

.remember input{
    width: 16px;
    height: 16px;
    margin: 0;           
    accent-color: #e50914; 
}


.form-switch{
    margin-top: 40px;
    color:#737373;
}

.form-switch span{
    margin-left: 6px;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
}